<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- font awsome link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">



    <!-- website icon link -->
    <link rel="website icon" type="png" href="rudresh1.png">

    <!-- css link -->
    <link rel="stylesheet" href="/style.css">
    <title>Rudresh Portfolio</title>
    
    <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-P5LS8M2');</script>
<!-- End Google Tag Manager -->
    
    
    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-4T6E4LJB5N"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-4T6E4LJB5N');
</script>
    
</head>
<body>
    
    <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P5LS8M2"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
    
    <div class="container">
        <div class="nav-section">
            <div class="navbar">
                <div class="logo"><img src="R.png" alt=""></div>
                <div class="nav-tabs">
                    <a href="#home-section">HOME</a>
                    <a href="#about-us-section">About Me</a>
                    <a href="#skill-section">Skills</a>
                    <a href="#project-section">Projects</a>
                    <a href="#contact-section">Contact</a>
                </div>
                <div class="bars">
                    <div class="toggle-bar1"><i class="fa-solid fa-bars"></i></div>
                    <div class="toggle-bar2"><i class="fa-solid fa-xmark"></i></div>
                </div>
            </div>
        </div>

        <!-- =====================Home section ===============-->

        <section id="home-section">
            <div class="home-section">
                <div class="profile">
                    <h1> { Hello World..! }</h1>
                    <h1>It's Me <span>
                            < Rudresh>
                        </span> </h1>
                    <h3>Web developer <i class="fa-solid fa-laptop-code"></i></h3>
                    <button><a href="#contact-section">Hire Me <i class="fa-solid fa-circle-check"></i></a></button>
                    <div class="social-media">
                        <a target="_blank" href="https://www.instagram.com/its_me_rudresh_/"><i
                                class="fa-brands fa-instagram"></i></a>
                        <a target="_blank" href="https://github.com/RUDRESHA007"><i class="fa-brands fa-github"></i></a>
                        <a target="_blank" href="https://www.linkedin.com/in/rudresha-k-8a1b40234/"><i
                                class="fa-brands fa-linkedin"></i></a>
                        <a target="_blank" href = "mailto: rudreshsagar703@gmail.com"><i class="fa-solid fa-envelope"></i></a>

                    </div>
                </div>
                <div class="left-img">
                    <div class="image">
                        <img src="RR.png" alt="" class="img">
                    </div>
                </div>
            </div>
        </section>
        <!-- =====================aboutus section ===============-->
        <section id="about-us-section">
            <h1>About Me</h1>

            <div class="about-me-section">
                <div class="right-img">
                    <div class="image">
                        <img src="r1.png" alt="" class="img">
                    </div>
                </div>
                <div class="description">
                    <!-- <h2>Iam Rudresh</h2> -->
                    <p>hello World..! , My name is Rudresh,I done my BCA graduation from Kuvempu University in LB and SBS college,sagar.<br>        
                        I have good Knowledge of web technologys like HTML5 , CSS3, Javascript ,NodeJS and MongoDB. also have basic knowledge of Python,SQL and Java.
                         i enjoy to build different websites using web technologys
                    </p>
                    <button><a target="blank" href="resume.pdf"> Download Resume</a></button>
                </div>
            </div>
        </section>
        <!-- =====================skill section ===============-->
        <section id="skill-section">
            <h1>My Power Rangers</h1>
            <div class="skills">
                <div class="skill">
                    <img src="html.png" alt="">
                    <p>HTML5</p>
                </div>
                <div class="skill">
                    <img src="css3.png" alt="A">
                    <p>CSS3</p>

                </div>
                <div class="skill">
                    <img src="javascript.png" alt="">
                    <p>Javascript</p>

                </div>
                <div class="skill">
                    <img src="node-js.png" alt="">
                    <p>NodeJS</p>

                </div>
                <div class="skill">
                    <img src="mongodb.png" alt="">
                    <p>MongoDB</p>

                </div>
                <div class="skill">
                    <img src="python.png" alt="">
                    <p>Python</p>

                </div>
            </div>
        </section>
        <!-- =====================project section ===============-->
        <section id="project-section">
            <h1>projects</h1>
            <div class="project-section">
                <div class="projects">

                    <div class="project">
                        <div class="project-logo">
                            <img src="blood-donation.png" alt="">
                        </div>
                        <h2>DonoBlood</h2>
                        <p>tools and tech</p>

                        <div class="languages">HTML5,CSS3,Javascript,NodeJS,EJS and MongoDB</div>
                        <button><a target="_blank" href="https://github.com/RUDRESHA007/Donoblood">github
                                Link</a></button>
                    </div>
                    <div class="project">
                        <div class="project-logo">
                            <img src="food.png" alt="">
                        </div>
                        <h2>Power Food</h2>
                        <p>tools and tech</p>

                        <div class="languages">
                            HTML5,CSS3 and Javascript</div>
                        <button><a target="_blank" href="https://github.com/RUDRESHA007/Power_Food">github
                                Link</a></button>
                    </div>
                    <div class="project">
                        <div class="project-logo">
                            <img src="weather.png" alt="">
                        </div>
                        <h2>To day Weather</h2>
                        <p>tools and tech</p>

                        <div class="languages">HTML5,CSS3,Javascript,NodeJS and JSON API</div>
                        <button><a target="_blank" href="https://github.com/RUDRESHA007/today_weather">github
                                Link</a></button>
                    </div>
                    <div class="project">
                        <div class="project-logo">
                            <img src="checkmark.png" alt="">
                        </div>
                        <h2>ToDo App</h2>
                        <p>tools and tech</p>

                        <div class="languages">HTML5,CSS3,Javascript,NodeJS and MongoDB</div>
                        <button><a target="_blank" href="https://github.com/RUDRESHA007/TODO_App">github
                                Link</a></button>
                    </div>

                    <div class="project">
                        <div class="project-logo">
                            <img src="play.png" alt="">
                        </div>
                        <h2>Vedio Playlist</h2>
                        <p>tools and tech</p>

                        <div class="languages">HTML5,CSS3 and Javascript</div>
                        <button><a target="_blank" href="https://github.com/RUDRESHA007/vedioplaylist">github
                                Link</a></button>
                    </div>
                    <div class="project">
                        <div class="project-logo">
                            <img src="computer-security.png" alt="">
                        </div>
                        <h2>Authentication Form
                        </h2>
                        <p>tools and tech</p>

                        <div class="languages">HTML5,CSS3,Javascript,NodeJS and MongoDB</div>
                        <button><a target="_blank" href="https://github.com/RUDRESHA007/vedioplaylist">github
                                Link</a></button>
                    </div>
                    <div class="project">
                        <div class="project-logo">
                            <img src="gallary.png" alt="">
                        </div>
                        <h2>File Uploder</h2>
                        <p>tools and tech</p>
                        <div class="languages">HTML5,CSS3,Javascript,NodeJS and MongoDB</div>
                        <button><a target="_blank" href="https://github.com/RUDRESHA007/vedioplaylist">github
                                Link</a></button>
                    </div>

                </div>
            </div>
        </section>
        <!-- =====================contact section ===============-->
        <section id="contact-section">
            <h1 >contact me</h1>

            <div class="contact-section">
                <form action="/hire" method="post">
                    <div class="field">
                        <label for="">Name</label>
                        <input type="text" placeholder="Enter Name" name="name" require>
                    </div>
                    <div class="field">
                        <label for="">Email</label>
                        <input type="text" placeholder="Enter Email" name="email" require>
                    </div>
                    <div class="field">
                        <label for="">Message</label>
                        <textarea name="description" id="" cols="10" rows="3" require></textarea>
                    </div>
                    <div class="field">
                        <button>Send</button>
                    </div>
                </form>
            </div>
        </section>
        <!-- =====================footer section ===============-->
        <section>
            <div class="footer">
                <div class="logo"><img src="R.png" alt=""></div>
                <p>Copyright © 2021 Rudresh Portfolio. All Rights Reserved</p>
            </div>
        </section>
        <div>
            <div class="slider-container">
                <a href="#"><video src="rocket.mp4" class="slider" autoplay loop muted>
                    </video></a>
            </div>

        </div>
        <div id="thanks-section">
            <div class="thanks-container">
                
                <div class="thanks">
                    <video src="celebrate-150x150.mp4" class="slider" autoplay loop muted></video>
                </div>
                <h1 class="msg"><%=msg%></h1>

            </div>

        </div>
    </div>
</body>
<script src="script.js"></script>

</html>
